language: node_js
node_js:
    - "0.12"
    - "iojs"
script: npm test
before_script:
    - npm install -g gulp
    - gulp get-deps
    - npm install -g flow-bin

# Google Chrome
#
# https://github.com/travis-ci/travis-ci/issues/272#issuecomment-14402117
# http://stackoverflow.com/questions/19255976/how-to-make-travis-execute-angular-tests-on-chrome-please-set-env-variable-chr
#
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
