.rpd-model {
    font-family: 'PT Mono', 'Andale Mono', 'Fira mono', 'Menlo', sans-serif;
    font-size: 0.7em;
    color: #111;
    background-color: #3c464c;
    margin: 0;
}

.rpd-link {
    height: 1px;
    background-color: rgba(255,255,255,0.8);
}

.rpd-node-box {
    max-width: 250px;
}

.rpd-node {
    /* box-shadow: 3px 3px 14px 1px rgba(33,33,33,0.7); */
    /* box-shadow: -1px 5px 13px 1px rgba(30,30,30,0.8); */
    margin: 20px 50px;
    background-clip: border-box;
}

.rpd-node .rpd-title {
    background-color: #617b79;
    padding: 3px 5px;
    color: #eee;
}

.rpd-node .rpd-type {
    margin-left: 4px;
    font-size: 0.8em;
    color: rgba(255,255,255,0.5);
}

.rpd-node .rpd-value {
    font-size: 0.7em;
}

.rpd-node .rpd-value.rpd-stale {
    background-color: transparent;
    transition: background-color .3s;
}

.rpd-node .rpd-value.rpd-fresh {
    background-color: #f00;
    transition: background-color .3s;
}

.rpd-inlets, .rpd-outlets {
    margin: 0;
    padding: 2px;
}

.rpd-connector {
    cursor: pointer;
}

.rpd-inlet .rpd-connector,
.rpd-outlet .rpd-connector {
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
}

.rpd-fresh .rpd-connector {
    border-color: #c00;
    background-color: #ff0;
    transition: border-color .3s;
}

.rpd-stale .rpd-connector {
    border-color: #000;
    background-color: #fff;
    transition: border-color .3s;
}

.rpd-inlet .rpd-value,
.rpd-outlet .rpd-value {
    color: rgba(200, 200, 200, 0.7);
    display: none;
}

.rpd-debug .rpd-inlet .rpd-value,
.rpd-debug .rpd-outlet .rpd-value {
    display: block;
}

.rpd-inlet:hover .rpd-value,
.rpd-outlet:hover .rpd-value {
    display: block;
}

.rpd-body {
    min-width: 20px;
}

/* QUARTZ COMPOSER LAYOUT STYLE */

.rpd-layout-quartz .rpd-node .rpd-title {
    display: table-caption;
    background-clip: border-box;
    border-style: solid;
    border-color: rgba(255,255,255,0.4);
    border-width: 1px 1px 0 1px;
    border-radius: 2px 2px 0 0;
    /* border-radius: 4px 4px 0 0; */
    /* border-radius: 4px 0 0 0; */
}

.rpd-layout-quartz .rpd-node .rpd-content {
    border-color: rgba(255,255,255,0.4);
    border-width: 0 1px 1px 1px;
    /* border-radius: 0 0 4px 4px; */
    border-style: solid;
    background-color: #50607e;
    background-clip: border-box;
}

.rpd-layout-quartz .rpd-node {
    /* box-shadow: 3px 3px 14px 1px rgba(33,33,33,0.7); */
    /* box-shadow: -1px 5px 13px 1px rgba(30,30,30,0.8); */
}

.rpd-layout-quartz table.rpd-node {
    position: relative;
    border-collapse: collapse;
}

.rpd-layout-quartz table.rpd-node thead.rpd-title th {
    padding: 2px;
    text-align: left;
    font-weight: normal;
}

.rpd-layout-quartz .rpd-value {
    margin: 1px 3px 0px 3px;
}

.rpd-layout-quartz .rpd-name {
    padding: 1px 0;
    color: rgba(255, 255, 255, 0.9);
}

.rpd-layout-quartz .rpd-inlet .rpd-name {
    text-align: left;
}

.rpd-layout-quartz .rpd-outlet .rpd-name {
    text-align: right;
}

.rpd-layout-quartz .rpd-inlet .rpd-connector {
    position: absolute;
    margin-top: 3px;
    left: -4px;
}

.rpd-layout-quartz .rpd-outlet .rpd-connector {
    position: absolute;
    margin-top: 3px;
    right: -5px;
}

.rpd-layout-quartz .rpd-inlet .rpd-value {
    position: absolute;
    right: 103%;
}

.rpd-layout-quartz .rpd-outlet .rpd-value {
    position: absolute;
    left: 103%;
}

.rpd-layout-quartz .rpd-inlet:hover .rpd-name,
.rpd-layout-quartz .rpd-outlet:hover .rpd-name {
    background-color: rgba(255,255,255,0.1);
}

.rpd-layout-quartz .rpd-link {
    margin-left: 3px;
    margin-top: 4.5px;
}

/* PURE DATA LAYOUT STYLE */

.rpd-layout-pd .rpd-content {
    background-color: #617b79;
    color: #eee;
    display: table;
    /* box-shadow: 3px 3px 14px 1px rgba(33,33,33,0.7); */
    /* box-shadow: -1px 5px 13px 1px rgba(30,30,30,0.8); */
}

.rpd-layout-pd table.rpd-node {
    border-collapse: collapse;
}

.rpd-layout-pd .rpd-content > td {
    padding: 8px;
}

.rpd-layout-pd .rpd-inlet,
.rpd-layout-pd .rpd-outlet {
    position: relative;
}

.rpd-layout-pd .rpd-inlet .rpd-connector,
.rpd-layout-pd .rpd-outlet .rpd-connector {
    position: absolute;
    width: 2px;
    height: 2px;
}

.rpd-layout-pd .rpd-inlet .rpd-connector {
    top: 1.3em;
}

.rpd-layout-pd .rpd-outlet .rpd-connector {
    top: -0.6em;
}

.rpd-layout-pd .rpd-inlet .rpd-type,
.rpd-layout-pd .rpd-outlet .rpd-type {
    position: absolute;
    margin-left: 0;
    left: 0;
}

.rpd-layout-pd .rpd-inlet .rpd-type {
    top: -2.2em;
}

.rpd-layout-pd .rpd-outlet .rpd-type {
    top: 3em;
}

.rpd-layout-pd .rpd-inlet .rpd-value,
.rpd-layout-pd .rpd-outlet .rpd-value {
    position: absolute;
    margin-left: 0;
    left: 0;
}

.rpd-layout-pd .rpd-inlet .rpd-value {
    top: -1.2em;
}

.rpd-layout-pd .rpd-outlet .rpd-value {
    top: 2em;
}

.rpd-layout-pd .rpd-link {
    margin-left: 4.3px;
    margin-top: 4px;
}

.rpd-layout-pd .rpd-content {
    width: 100%;
}
