.rpd-network {
    margin: 0;
}

.rpd-node .rpd-drag-handle {
    cursor: pointer;
}

.rpd-node .rpd-remove-button {
    cursor: pointer;
}

.rpd-connector {
    cursor: pointer;
}

.rpd-link:hover {
    cursor: crosshair;
}

.rpd-link.rpd-disabled:hover {
    cursor: cell;
}

.rpd-node.rpd-patch-reference .rpd-process > text {
    cursor: pointer;
}

/* .rpd-node .rpd-shadow {
    -webkit-transition: x 1s, y 1s, fill 1s;
    transition: x 1s, y 1s, fill 1s;
} */

/* .rpd-node.rpd-dragging .rpd-shadow {
    -webkit-transition: fill 0.2s ease-out, opacity 0.2s ease-out;
    transition: fill 0.2s ease-out, opacity 0.2s ease-out;
} */
