.rpd-network {
    margin: 0;
}

.rpd-full-page {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rpd-node .rpd-drag-handle {
    cursor: pointer;
}

.rpd-node .rpd-remove-button {
    cursor: pointer;
}

.rpd-connector {
    cursor: pointer;
}

.rpd-link:hover {
    cursor: crosshair;
}

.rpd-link.rpd-disabled:hover {
    cursor: cell;
}

.rpd-node.rpd-patch-reference .rpd-process > text {
    cursor: pointer;
}
