.rpd-anm-toolkit-node .rpd-inlet,
.rpd-anm-toolkit-node .rpd-outlet {
    white-space: nowrap;
    position: relative;
}

.rpd-anm-toolkit-node.rpd-anm-color .rpd-body {
    padding: 2px 8px;
}

.rpd-anm-toolkit-node.rpd-anm-color .rpd-body div > span {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,.1);
    margin: 1px;
}

.rpd-anm-toolkit-node.rpd-anm-color .rpd-body td > div {
    max-height: 300px;
    overflow: scroll;
}

.rpd-anm-toolkit-node.rpd-anm-spread .rpd-body > table,
.rpd-anm-toolkit-node.rpd-anm-vector .rpd-body > table {
    width: 100%;
}

.rpd-anm-toolkit-node.rpd-anm-spread .rpd-body div > span,
.rpd-anm-toolkit-node.rpd-anm-vector .rpd-body div > span {
    float: right;
    clear: right;
    font-size: 0.9em;
}

.rpd-anm-toolkit-node.rpd-anm-spread .rpd-body div > span:hover,
.rpd-anm-toolkit-node.rpd-anm-vector .rpd-body div > span:hover {
    background-color: rgba(0,0,66,0.2);
}

.rpd-anm-toolkit-node.rpd-anm-spread .rpd-body td > div,
.rpd-anm-toolkit-node.rpd-anm-vector .rpd-body td > div {
    max-height: 200px;
    overflow: scroll;
}

.rpd-anm-toolkit-node .rpd-inlet .rpd-value,
.rpd-anm-toolkit-node .rpd-outlet .rpd-value {
    display: none;
}

.rpd-anm-toolkit-node.rpd-anm-spread .rpd-inlet .rpd-value {
    display: inline;
}

.rpd-anm-toolkit-node.rpd-anm-spread .rpd-inlet .rpd-value-holder.rpd-editor-enabled .rpd-value {
    visibility: hidden;
}

.rpd-anm-toolkit-node.rpd-anm-render canvas {
    background-color: rgba(0, 0, 0, .5);
}

.rpd-anm-toolkit-node.rpd-anm-color .rpd-process-target {
    max-width: 200px;
}

/* .rpd-anm-toolkit-node .rpd-inlet .rpd-name,
.rpd-anm-toolkit-node .rpd-outlet .rpd-name {
    display: block;
    transform: rotate(270deg);
    transform-origin: 4px 7px;
} */

.rpd-style-pd .rpd-anm-toolkit-node .rpd-title .rpd-name {
    display: none;
}

.rpd-style-pd .rpd-anm-toolkit-node .rpd-content .rpd-body {
    padding: 7px;
}

.rpd-style-pd .rpd-anm-toolkit-node .rpd-title {
    width: 1em;
    padding: 0;
}

.rpd-style-pd .rpd-anm-toolkit-node .rpd-content {
    padding: 9px;
}

.rpd-style-pd .rpd-anm-toolkit-node .rpd-inlet .rpd-name,
.rpd-style-pd .rpd-anm-toolkit-node .rpd-outlet .rpd-name {
    font-size: 0.85em;
}

.rpd-inlet .rpd-name {
    top: 1px;
    left: 1px;
    position: relative;
}

.rpd-outlet .rpd-name {
    top: -2px;
    position: relative;
    left: 2px;
    /* margin-top: -1px; */
    /* padding-left: 1px; */
}

.rpd-style-pd .rpd-anm-toolkit-node .rpd-inlets,
.rpd-style-pd .rpd-anm-toolkit-node .rpd-outlets {
    display: block;
    position: relative;
    left: 0.75em;
}

.rpd-style-pd .rpd-anm-toolkit-node .rpd-value-holder input[type="number"] {
    top: -6px;
}
