.rpd-util-spinner {
    cursor: col-resize;
}

.rpd-util-nodelist .rpd-nodelist-selected {
    background-color: rgba(0, 0, 0, 0.3);
}

.rpd-util-nodelist li {
    cursor: pointer;
    padding: 1px 0px 1px 0px;
    /* vertical-align: middle; */
    margin: 2px 0;
    background-color: rgba(96,141,104,0.4);
    border-radius: 5px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    /* border-color: white; */
}

.rpd-util-nodelist li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.rpd-util-nodelist dt {
    margin: 3px 0;
}

.rpd-util-nodelist dt .rpd-nodelist-toolkit-name {
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
}

.rpd-util-nodelist .rpd-process-target a {
    text-decoration: none;
    /* font-size: 1.2em; */
    color: darkred;
    background-color: slategray;
    border-radius: 4px;
    padding: 1px 3px 1px 3px;
    margin: 0 3px;
    /* position: relative; */
    /* top: -1px; */
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.rpd-util-nodelist .rpd-process-target a:hover {
    color: red;
    background-color: aliceblue;
}

.rpd-util-nodelist input {
    width: 85%;
}

.rpd-util-nodelist ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.rpd-util-nodelist dl {
    overflow-y: scroll;
    width: 180px;
    max-height: 300px;
    margin: 6px 0px 0 0;
    padding: 0;
}

.rpd-util-nodelist dl > dd {
    margin: 10px 0;
    padding: 0;
}

.rpd-util-nodelist li .rpd-nodelist-description {
    display: block;
    font-size: 0.7em;
    opacity: 0.8;
}

.rpd-util-nodelist li .rpd-nodelist-icon {
    display: inline-block;
    width: 1em;
    /* height: 1em; */
    padding: 0px 3px 0px 2px;
    text-align: center;
    color: darkseagreen;
    vertical-align: middle;
    position: relative;
    top: -1px;
    /* left: 0px; */
    /* border-radius: 3px 0 0 3px; */
    /* background-color: ghostwhite; */
    /* text-anchor: initial; */
}

.rpd-util-nodelist li .rpd-nodelist-fulltypename {
    margin: 3px 3px;
    display: inline-block;
}

.rpd-util-nodelist li.rpd-nodelist-selected .rpd-nodelist-fulltypename {
    color: red;
}

.rpd-util-nodelist li.rpd-nodelist-add-effect {
    background-color: #f00;
}

.rpd-util-color .rpd-util-color-display {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.rpd-node.rpd-util-comment {
    box-shadow: none;
}

.rpd-util-comment .rpd-title {
    display: none;
}

.rpd-util-comment .rpd-content {
    /* border: 1px dashed rgba(255, 255, 255, 0.1); */
    border: none;
    background-color: transparent;
}

.rpd-util-comment .rpd-body {
    vertical-align: top;
    padding: 3px;
}

.rpd-util-bang .rpd-body span,
.rpd-util-metro .rpd-body span {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in;
}

.rpd-util-bang .rpd-body span.rpd-util-bang-fresh,
.rpd-util-metro .rpd-body span.rpd-util-metro-fresh {
    background-color: red;
    transition: background-color 0.1s ease-out;
    -webkit-transition: background-color 0.1s ease-out;
}
