.rpd-util-spinner {
    cursor: col-resize;
}

.rpd-util-nodelist .rpd-nodelist-selected {
    background-color: rgba(0, 0, 0, 0.3);
}

.rpd-util-nodelist dl > dd > ul > li {
    cursor: pointer;
}

.rpd-util-nodelist dl > dd > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
