.rpd-inlet.rpd-util-number input[type=number],
.rpd-outlet.rpd-util-number input[type=number] {
    width: 30px;
}

.rpd-node.rpd-util-palette .rpd-process .rpd-util-palette-variant * {
    cursor: pointer;
    pointer-events: all;
}

.rpd-util-palette-variant.rpd-util-palette-active-variant {
    stroke: white;
}

.rpd-util-nodelist .rpd-nodelist-search text {
    font-size: 1.5em;
    fill: darkred;
    cursor: pointer;
    pointer-events: all;
}

.rpd-util-nodelist .rpd-nodelist-search text:hover {
    fill: red;
}

.rpd-util-nodelist .rpd-nodelist-list text {
    text-anchor: start;
    dominant-baseline: hanging;
}

.rpd-util-nodelist .rpd-nodelist-list text.rpd-nodelist-icon {
    text-anchor: middle;
    dominant-baseline: middle;
}

.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-selected .rpd-nodelist-fulltypename {
    fill: red;
}

.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-nodetype:hover {
    cursor: pointer;
}

.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-nodetype:hover .rpd-nodelist-fulltypename,
.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-nodetype:hover .rpd-nodelist-icon,
.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-nodetype:hover .rpd-nodelist-description {
    fill: darkred;
}
