.rpd-background {
    /* background-color: #393939;
    background-image: linear-gradient(#2c2c2c 2px, transparent 2px),
    linear-gradient(90deg, #2c2c2c 2px, transparent 2px),
    linear-gradient(#303030 1px, transparent 1px),
    linear-gradient(90deg, #303030 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; */
}
