.rpd-background {
    /* background-color: #393939;
    background-image: linear-gradient(#2c2c2c 2px, transparent 2px),
    linear-gradient(90deg, #2c2c2c 2px, transparent 2px),
    linear-gradient(#303030 1px, transparent 1px),
    linear-gradient(90deg, #303030 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; */
}

.rpd-patch text {
    font-family: sans-serif;
    font-size: 11px;
    dominant-baseline: central;
}

.rpd-inlet .rpd-editor-disabled,
.rpd-outlet .rpd-editor-disabled {
    display: none;
}

.rpd-outlet text.rpd-name {
    text-anchor: end;
}

.rpd-node.rpd-util-nodelist .rpd-header {
    fill: url(#cyan-gradient);
}

.rpd-remove-button path:hover {
    fill: rgba(255, 0, 0, 0.2);
}

.rpd-patch text.rpd-name {
    text-transform: capitalize;
}

.rpd-node.rpd-util-comment .rpd-process text {
    fill: #999;
}

.rpd-link {
    stroke: url(#link-gradient);
}

.rpd-link.rpd-disabled {
    stroke: url(#disabled-link-gradient);
}

.rpd-node .rpd-remove-button {
    fill: rgba(200,200,200,.8);
}

.rpd-node .rpd-remove-button text {
    font-size: 7px;
}

.rpd-node.rpd-util-nodelist input {
    /* opacity: 0.8; */
    width: 135px !important;
    border-radius: 11px;
    border-width: 1px;
    border-color: #353535;
    border-style: double;
    padding: 3px;
    /*background-color: #ccc;*/
    background: -moz-linear-gradient(90deg, rgba(186,186,186,0.9) 0%, rgba(191,191,191,0.9) 55%, rgba(176,176,176,0.9) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(176,176,176,0.9)), color-stop(45%, rgba(191,191,191,0.9)), color-stop(100%, rgba(186,186,186,0.9))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(186,186,186,0.9) 0%, rgba(191,191,191,0.9) 55%, rgba(176,176,176,0.9) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(186,186,186,0.9) 0%, rgba(191,191,191,0.9) 55%, rgba(176,176,176,0.9) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(186,186,186,0.9) 0%, rgba(191,191,191,0.9) 55%, rgba(176,176,176,0.9) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(186,186,186,0.9) 0%, rgba(191,191,191,0.9) 55%, rgba(176,176,176,0.9) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B0B0B0', endColorstr='#BABABA',GradientType=0 ); /* ie6-9 */
}

.rpd-node.rpd-util-nodelist input:focus {
    outline: none;
}

.rpd-node.rpd-util-nodelist .rpd-nodelist-search text {
    text-anchor: middle;
}

.rpd-util-nodelist .rpd-nodelist-search rect {
    fill: #666 !important;
}

.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-fulltypename {
    fill: #ccc !important;
    transform: translate(18px,-1px);
}

.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-selected .rpd-nodelist-fulltypename {
    fill: black !important;
}

.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-nodetype rect {
    fill: url(#deselect-gradient) !important;
    filter: url(#button-emboss);
    stroke: #111;
    stroke-width: 1px;
    rx: 3;
    ry: 3;
    /* height: 19px; */
}

.rpd-util-nodelist .rpd-nodelist-list .rpd-nodelist-nodetype.rpd-nodelist-selected rect {
    fill: url(#select-gradient) !important;
}

.rpd-util-nodelist .rpd-nodelist-list text.rpd-nodelist-description {
    font-size: 7px !important;
}

.rpd-util-nodelist .rpd-nodelist-list text.rpd-nodelist-icon {
    transform: translate(3px,0);
}
