.rpd-background {
    /* background-color: #393939;
    background-image: linear-gradient(#2c2c2c 2px, transparent 2px),
    linear-gradient(90deg, #2c2c2c 2px, transparent 2px),
    linear-gradient(#303030 1px, transparent 1px),
    linear-gradient(90deg, #303030 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; */
}

.rpd-patch text {
    font-family: sans-serif;
    font-size: 10px;
    dominant-baseline: central;
}

.rpd-inlet .rpd-editor-disabled,
.rpd-outlet .rpd-editor-disabled {
    display: none;
}

.rpd-outlet text.rpd-name {
    text-anchor: end;
}

.rpd-node.rpd-util-nodelist .rpd-header {
    fill: url(#cyan-gradient);
}
