html
  head
    title RPD - #{title}
  body
    h1 The Title  
    each desc, id in contents
        span= desc.title + ' (' + id + ')'
        include:markdown= desc.file
    #footer
      p some footer content
