.rpd-pd-toolkit-node {
    fill: white;
    stroke-width: 1;
    stroke: black;
}

.rpd-pd-toolkit-node text,
.rpd-pd-text-editor {
    font-family: 'PT Mono', Menlo, Monaco, monospace;
    font-size: 11px;
}

.rpd-pd-toolkit-node text {
    fill: black;
    stroke-width: 0;
    dominant-baseline: central;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* pointer-events: none; */
}

.rpd-pd-number path,
.rpd-pd-symbol path {
    fill: lightgrey;
}

.rpd-pd-text-editor {
    background-color: transparent;
    border: none;
}

.rpd-pd-text-editor:focus {
    outline: none;
}

.rpd-pd-text-editor.rpd-pd-selected {
    color: blue;
}

.rpd-pd-selected,
.rpd-dragging {
    stroke: blue;
}

.rpd-pd-selected text,
.rpd-dragging text {
    stroke-width: 0;
    fill: blue;
}

.rpd-pd-bang.rpd-pd-selected circle {
    fill: blue;
}

.rpd-pd-bang circle {
    pointer-events: none;
}

.rpd-pd-text rect {
    stroke-width: 0;
}

.rpd-pd-object rect.rpd-pd-erratic {
    stroke-dasharray: 5, 5;
}

.rpd-inlet .rpd-connector:hover,
.rpd-outlet .rpd-connector:hover {
    fill: blue;
}

.rpd-pd-toolbar.rpd-dragging circle,
.rpd-pd-toolbar.rpd-dragging rect {
    stroke: gray;
}

.rpd-pd-toolbar.rpd-dragging text,
.rpd-pd-toolbar.rpd-dragging .rpd-pd-buttons .rpd-pd-accessible text {
    fill: gray;
}

.rpd-pd-toolbar .rpd-pd-edit-mode circle:nth-child(2) {
    fill: transparent;
}

.rpd-pd-toolbar .rpd-pd-edit-mode text {
    fill: gray;
    font-size: 0.5em;
}

.rpd-pd-toolbar .rpd-pd-edit-mode.rpd-pd-enabled circle:nth-child(2) {
    fill: black;
}

.rpd-pd-toolbar .rpd-pd-edit-mode.rpd-pd-enabled text {
    fill: black;
}

.rpd-pd-toolbar .rpd-pd-buttons text {
    fill: gray;
}

.rpd-pd-toolbar .rpd-pd-buttons .rpd-pd-accessible text {
    fill: black;
}

.rpd-pd-toolbar .rpd-pd-buttons .rpd-pd-accessible:hover rect {
    fill: black;
}

.rpd-pd-toolbar .rpd-pd-buttons .rpd-pd-accessible:hover text {
    fill: white;
}

.rpd-pd-message .rpd-pd-send-value path {
    stroke-width: 2px;
    stroke: #ccc;
}

.rpd-pd-bang .rpd-pd-send-value circle {
    fill: black;
}
