.rpd-pd-toolkit-node {
    fill: white;
    stroke-width: 1;
    stroke: black;
}

.rpd-pd-toolkit-node text {
    font-family: 'PT Mono', Menlo, Monaco, monospace;
    font-size: 11px;
    fill: black;
    stroke-width: 0;
}

.rpd-pd-gatom path {
    fill: lightgrey;
}
