.rpd-pd-toolkit-node {
    fill: white;
    stroke-width: 1;
    stroke: black;
}

.rpd-pd-toolkit-node text,
.rpd-pd-text-editor {
    font-family: 'PT Mono', Menlo, Monaco, monospace;
    font-size: 11px;
}

.rpd-pd-toolkit-node text {
    fill: black;
    stroke-width: 0;
    dominant-baseline: central;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* pointer-events: none; */
}

.rpd-pd-gatom path {
    fill: lightgrey;
}

.rpd-pd-text-editor {
    background-color: transparent;
    border: none;
}

.rpd-pd-text-editor:focus {
    outline: none;
}

.rpd-pd-text-editor.rpd-selected {
    color: blue;
}

.rpd-pd-selected,
.rpd-dragging {
    stroke: blue;
}

.rpd-pd-selected text,
.rpd-dragging text {
    stroke-width: 0;
    fill: blue;
}

.rpd-pd-bang circle {
    pointer-events: none;
}

.rpd-pd-text rect {
    stroke-width: 0;
}
